<!DOCTYPE html>
html
head
  meta(charset="utf-8")
  title hover
  body
    div
      p(class="theme_space_default theme_gap_small grid_col-gap-two-thirds aue")
        a(class="" href="1.html") Ссылка 1
      p(class="theme_space_default theme_gap_small grid_col-gap-full" href="2.html")
        a(class="aue") Ссылка 2
      p(class="theme_space_default theme_gap_small grid_row-gap-half" href="2.html")
        a(class="" href="3.html") Ссылка 3
    div(class="card")
      div(class="card__content text_align-center")
        p(class="text_align-size-s theme_size_default") аууее
        p(class="theme_size_default text_align-size-xxl") ауиии
      div(class="card__footer")
      